.clickable {
    cursor: pointer;
    z-index: 9001; /* without this, the cursor thing doesn't work! */
}

#top-pane {
    height: auto;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#top-pane div {
    /* TODO: make this not disgusting */
    float: left;
}

#map {
    background-image: url('./images/map.jpg');
    background-size: cover; /* scale image to fit */
    border: 3px dashed darkgrey;
}

#map-container {
    /*width: 90%;*/
    height: auto;
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px dashed brown;
}

#mapContainer {
    /*margin: 0;*/
}

.route-path-rect {
    stroke: none;
    stroke-width: 3;
    stroke-dasharray: 5, 2;
}

.route-path-rect-taken {
    background-size: cover;
    background-image: url('./images/bus-profile.png'); /* TODO: fix this (SVG rects can't use this property) */
    stroke-dasharray: 0;
}

.train-card {
    background-image: url('./images/tcat_card.png');
    background-size: cover;
    /* TODO: make these relative to the image size and some scaling factor */
    width: 112px;
    height: 143px;
    border-radius: 10px;
    border: 5px solid; /* colour is specified inline */
    margin: 5px;
    float: left;
}

.train-card-amount {
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    background-color: #ff8b67;
    color: white;
    font-size: 125%;
    font-weight: bold;
    transform: rotate(20deg);
    border-radius: 2px;
    /* centre text horizontally and vertically: */
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

#hand-container {

}

#train-hand {
    /* float: left; the child divs instead of this: */
    /*display: flex;*/
    /*flex-direction: row;*/
    float: left;
    width: 50%;
}

#destination-hand {
    float: right;
    width: 50%;
}

.destination-ticket {
    position: relative;
    background-image: url('./images/cu.png');
    background-size: cover;
    /* TODO: make these relative to the image size and some scaling factor */
    width: 112px;
    height: 143px;
    border-radius: 10px;
    border: 5px solid #81a990; /* colour is specified inline */
    margin: 5px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination-ticket-top, .destination-ticket-bottom {
    /*height: 20%;*/
    text-align: center;
    color: beige;
}

.destination-ticket-top {
    margin-top: 25%;
}

.destination-ticket-bottom {
    margin-bottom: 25%;
}

.destination-ticket-points {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: red;
    transform: rotate(20deg);
    border-radius: 50%; /* make it circular */
    border: 3px solid darkred;
    /* centre text horizontally and vertically: */
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.destination-ticket-points.completed {
    background-color: green;
    border: 3px solid darkgreen;
}

#deck-wrapper {
    position: absolute;
}

#deck {
    width: 322px;
    height: 269px;
    background-size: cover;
    position: relative;
    float: left;
    opacity: 0.7;
}

#deck:hover {
    opacity: 1;
}

#deck-text {
    line-height: 269px;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    font-family: Arial, sans-serif;
    color: black;
}

#choose-destinations, #face-up-pile {
    position: relative;
    width: auto;
}

#choose-destinations-button-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.destination-ticket-selected-marker {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background-image: url('./images/tick.svg');
    background-size: cover;
}

#player-details {
    border: 3px dashed darkgrey;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player-detail, #player-details > div {
    height: 30px;
    line-height: 30px;
    padding: 5px;
    margin: 5px 30px;
}

.player-detail {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: lightgray;
    color: #6b6b6b;
    font-size: 125%;
}

.player-detail:hover {
    background-color: #828283;
    color: white;
}

#player-name {
    font-weight: bold;
    /*font-size: 125%;*/
}

#view-decks-button, #next-player-button {
    margin-left: 5px;
    margin-right: 5px;
}

#error-msg {
    width: 300px;
    height: 90px;
    border: 3px solid darkred;
    border-radius: 2px;
    background-color: chocolate;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 9001;
}

/*http://bl.ocks.org/d3noob/a22c42db65eb00d4e369*/
.tooltip-location {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip-route {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}