#map {
    background-image: url('./images/map.jpg');
    background-size: cover; /* scale image to fit */
    border: 3px dashed darkgrey;
}

#map-container {
    /*width: 90%;*/
    height: auto;
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px dashed brown;
}

#mapContainer {
    /*margin: 0;*/
}

.route-path-rect {
    stroke: black; /* for now */
    stroke-width: 2;
    stroke-dasharray: 5, 2;
}